.product_wrapper{
    display: flex;
    justify-content: center;
    margin-top: 14px;
    margin-right: 100px;
    margin-left: 100px;
}

.product_space{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1600px; 
    margin: 0 auto;

}

.product_container{
    width: 500px;
    box-sizing: border-box;
    border-radius: 15px;
    transition: background-color 0.9s ease;
}

.product_container:hover {
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}


.product_image_wrapper{
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.product_image{
    width: 490px;
    border: 1px solid white;
    border-radius: 15px;
    transition: border 0.4s ease;
}

.product_image:hover{
    width: 490px;
    border-radius: 15px;
    border: 1px solid black;
}




.product_info {
    display: flex;
    justify-content: space-between; 
    flex-grow: 1; 
}

.product_title_container {
    position: relative; 
}

.product_title {
    font-size: 24px;
    margin-top: 8px;
    margin-left: 8px;
    transition: color  0.3s ease;
}

.product_title:hover {
    font-size: 24px;
    margin-top: 8px;
    margin-left: 8px;
    transition: color  0.3s ease;
    color: rgb(255, 178, 62);
}

.product_title_container::before {
    content: "";
    position: absolute;
    width: 100%;
    margin-left: 4px;
    height: 4px;
    border-radius: 4px;
    background-color: black;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out, background-color .3s ease-in-out;
}
  
.product_title_container:hover::before {
    margin-left: 4px;
    transform-origin: left;
    transform: scaleX(1);
    background-color: rgb(255, 178, 62);
}

.product_price{
    font-size: 30px;
    transition: font-size 0.3s ease;
    margin-right: 10px;
}

.product_description{
    padding-top: 10px;
    opacity: 80%;
    margin-left: 8px;
    padding-right: 10px;
    transition: opacity 0.3s ease;
}

.product_description:hover{
    opacity: 40%;
}

.product_icons{
    display: flex;
    justify-content: space-between; 
    margin-top: 11px;
    margin-right: 10px;
    padding-bottom: 10px;
    flex-grow: 1; 
}

.cart_icon_wrapper{
    margin-left: 400px; 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.cart_icon{
    margin-left: 4px;
    margin-top: 4px;
}


.cart_icon_wrapper:hover{
    margin-left: 400px; 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(255, 178, 62);
    cursor: pointer;
    
}

